; common
[*]
charset = utf-8
end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

; markdown
[*.md]
trim_trailing_whitespace = false
indent_size = 2
indent_style = tab
