version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - checkout

      # Versions Check
      - run:
          name: Node version
          command: node -v
      - run:
          name: Yarn version
          command: yarn --version

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run:
          name: Install base packages
          command: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Lint and Test packages
          command: yarn test

      - run:
          name: Build react-tv
          command: yarn build

      - run:
          name: Build status react-tv
          command: yarn build:stats
