<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Enyo Bootplate App</title>
		<link rel="shortcut icon" href="assets/favicon.ico"/>
		<!-- -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- css -->
		<link href="build/enyo.css" rel="stylesheet"/>
		<link href="build/app.css" rel="stylesheet"/>
		<!-- js -->
		<script src="build/enyo.js" charset="utf-8"></script>
		<script src="build/app.js" charset="utf-8"></script>
	</head>
	<body class="enyo-unselectable">
	    <script type="text/javascript">if (undefined === window.enyo) location = "debug.html";</script>
	</body>
</html>
