body {
  background: #000000;
  color: #4AD0EC;
  font-family: Helvetica;
  letter-spacing: 0.15em;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

#root, #container {
  height: 90vh;
  padding: 0 1vw;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.focused, .unfocused {
  background: blue;
  padding: 8px;
  width: 200px;
  margin-top: 20px;
}

.focused {
  background: orange;
  color: white;
}

.image img {
  width: 100%;
}

.btn-unfocused, .btn-focused {
  padding: 8px;
  font-weight: bold;
  color: white;
  background: blue;
}

.btn-focused {
  background: red;
}

.navigation {
  display: flex;
}

.program-list {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

:focus {
  outline: 2px solid red;
}
