body {
  background: #000000;
  color: #4AD0EC;
  font-family: Helvetica;
  letter-spacing: 0.15em;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

#root, #container {
  height: 90vh;
  padding: 0 1vw;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.waterfall {
  padding: 0;
  width: 110%;
  height: auto;
  margin: 0 auto;
  visibility: visible;
}

.waterfall .item {
  background-color: orange;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  color: #FFF;
  height: 15%;
  width: 20%;
  margin: 1%;
  padding: 10px;
}

.waterfall .item:focus {
  outline:none;
}

.waterfall .item:nth-child(1n+1) {
  background-color: #999;
  background: url('images/scott-pilgrim.jpg') 20%;
  background-size: cover;
  height: 70vh;
}

.waterfall .item:nth-child(2) {
  font-size: 27vw;
  width: 22%;
}

.waterfall .item:nth-child(2n+4) {
  background: #db0000;
  border: 6px solid #db0000;
  height: 15vh;
}

.waterfall .item:nth-child(2n+4):focus {
  border: 6px solid white;
}

.waterfall .item:nth-child(2n+1) {
  background: #FFF;
  border: 6px solid #FFF;
  color: #db0000;
  height: 30vh;
}

.waterfall .item:nth-child(2n+1):focus {
  border: 6px solid #db0000;
}
